{% extends 'base.html' %}
{% from '_formhelpers.html' import form_template %}

{% block content %}

    <h1>Please Register</h1>
    <br>
    <form class="form-signin" role="form" method="post" action="">
        {{ form.csrf_token }}
        {{ form_template(form, 'username') }}
        {{ form_template(form, 'email') }}
        {{ form_template(form, 'password') }}
        {{ form_template(form, 'confirm') }}
        <button class="btn btn-sm btn-success" type="submit">Register!</button>
    </form>

{% endblock content %}